@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Outfit:wght@400;500;700;800&family=Viga&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(assets/Rectangle\ 3534.png);
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f108;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.4);
  color: aliceblue;
}
.app video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.header {
  margin-top: -100px;
  padding-bottom: 30px;
  color: aliceblue;
}

.sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-header i {
  font-size: 30px;
  margin-right: 5px;
  color: #ffe815;
  background-color: rgb(39, 40, 41);
  border-radius: 50%;
  padding: 10px 15px;
}
.header h1 {
  font-size: 35px;
  text-align: center;
  font-family: "Viga", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.header p {
  font-size: 18px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 10px;
}
.main-div {
  width: 450px;
  padding: 20px;
  border-radius: 10px;
  background-color: #191919db;
  box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.4);
  color: aliceblue;
}
form :where(input, select, button) {
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: none;
}

form p {
  font-size: 18px;
  margin-bottom: 5px;
}

form input {
  height: 50px;
  font-size: 17px;
  padding: 0 50px;
}

form .form-box {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.form-box .country-code-box {
  display: flex;
  width: 120px;
  height: 50px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: #383839;
  color: rgba(240, 248, 255, 0.486);
}

.country-code-box img {
  max-width: 21px;
}
.country-code-box select {
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 1px;
  background-color: #383839;
  color: rgba(240, 248, 255, 0.486);
  font-weight: 500;
}
.phone-no-box input {
  width: 100%;
  font-size: 16px;
  background: none;
  background-color: #56565660;
  color: rgba(240, 248, 255, 0.486);
  font-weight: 500;
  padding-left: 10px;
}

form button {
  height: 50px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  background-image: linear-gradient(
    to left,
    #edde5d 10%,
    #ed8f03 51%,
    #edde5d 100%
  );
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(19, 18, 18);
  border-radius: 10px;
  display: block;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
}
form button:hover {
  background-position: right center;
  text-decoration: none;
}
.contact {
  font-size: 15px;
  margin-top: 25px;
  cursor: pointer;
  color: #edde5d;
  text-align: right;
}
.testo {
  font-size: 18px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.441);
}

@media screen and (max-width: 768px) {
  body {
    background: none;
  }
  .app video {
    display: block;
    height: 100vh;
  }
}

@media screen and (max-width: 500px) {
  .main-div {
    width: 380px;
  }
  .form-box .country-code-box {
    margin-right: 10px;
  }
  .country-code-box select {
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .main-div {
    width: 90%;
    padding: 10px;
  }

  .form-box .country-code-box {
    width: 120px;
    height: 40px;
  }

  .country-code-box select {
    width: 60%;
    height: 40px;
  }

  .country-code-box img {
    max-width: 18px;
  }
  .phone-no-box input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
  }

  form button {
    height: 40px;
    font-size: 17px;
  }
}
